#main {

}

.col35 {
    display: inline-block;
}

.col65 {
    display: inline-block;
}

.col35 img {
    margin: 0 0 0 100px;
}

#pesquisa {
    margin: 0 0 120px 1200px;
}

.col100 ul li{
    display: inline-block;
    margin: 20px 180px 20px 180px;
}


.col30 {
    display: inline-block;
    width: 30%;
    
}

.col30 h4 {
    margin: 50px 0 0 140px;
}


.col30 ol li{
    margin: 20px 0px 20px 160px;
   
}

.col70 {
    display: inline-block;
    width: 65%;
}

.col70 img{
    margin:  120px 100px 0 300px;
}

.col70 h3 {
    margin: 20px 400px 0 300px;
}

#bigimg {
    width: 800px;
    height: 600px;
}

.col70{
    display: inline-block;
    margin: 0 0 0 300px;
    width: 1400px;
}

.images img {
    display: inline-block;
    width: 4%;
    height: 2%;
}

.titles p{
    display: inline-block;
    margin: 20px 100px 0 300px;

}

.col50 {
    display: inline-block;
    margin: 120px 0 0 0;
}

.col45 {
    display: inline-block;
    margin: 0 0 0 1500px;
}





























