#main {
    background-color: #e3e3e3;
}

.row .col100 {
    display: flex;
    justify-content: center;
}

.row .col100 ul {
    text-align: center;
    list-style: none;
}

.row .col100 li{
    display: inline-block;
    margin: 0 0px;
    vertical-align: top;
    
}

.row .col100 a {
    font-weight: bold;
    color: darkblue;
    padding: 50px 25px;
}

.row .school {
    position: relative;
    height: 1080px;
}

#bigimg{
    position: absolute;
    width: 2065px;
    height: 1080px;
    border: solid 4px darkblue ;
}

#entalogo{
   position: absolute;
   top: 50;
   left: 140;
   width: 600px;
   height: 300px;
}

#entalogo{
    z-index: 1;
}

.row .professionalform h1 {
    margin: 70px 0 20px 0;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    color: #f95959;
}

.row .professionalform img {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.rowcursos {
    background-color: #455d7a;
        
}

.rowcursos .textcursos h2 {
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color: #f95959;
    padding-left: 250px;
    padding-top: 40px;
}

.rowcursos .textcursos h4 {
    font-size: 25px;
    font-weight: bold;
    color: #e3e3e3;
    text-align: center;
    
}

.rowcursos .textcursos p {
    text-align: center;
    font-size: 18px;
    color: #e3e3e3;
}

.rowcursos .cursos4 h3 {
    color: #f95959;
    display: inline-block;
    padding: 0 100px;
    margin: 80px 110px;
}

.rowcursos .cursos4 img{
    display: inline-block;
}

#TIS {
    width: 450px;
    margin: 0 100px;
    border: solid 4px darkblue;
}

#TQA {
    width: 450px;
    margin: 0 0 0 155px;
    border: solid 4px darkblue;
}

#TLO {
    width: 450px;
    margin: 0 0 0 245px;
    border: solid 4px darkblue;
}

.rowcursos .cursos5 h3{
    color: #f95959;
    display: inline-block;
    padding: 0 210px;
    margin: 80px 110px 0px 110px;
}

#TecnicoLaboratorial{
    padding: 8px 80px;
    margin: 0 210px;
}

#TecnicoCiberseguranca {
    margin: 8px 80px;
    padding: 0px 210px ;
}


.rowcursos .cursos5 img{
    display: inline-block;
}

#TL {
    width: 450px;
    margin: 80 0 0 270px;
    border: solid 4px darkblue;
}

#TC {
    width: 450px;
    margin: 80 0 0 535px;
    border: solid 4px darkblue;
}
