.col51 {
    width: 51%;
    display: inline-block;
}

.col51 img {
    width: 30%;
    margin: 4% 0 0 4%;
}

.col49 {
    width: 48%;
    display: inline-block;
}

.inputs{
    margin: 0 0 0 70%;
}

.col100 {
    width: 100%;
    display: block;
}

.col100 ul li {
    display: inline-block;
    margin: 7% 0 0 0;
    padding: 2% 10% 2% 10%;
    border: solid crimson;
}

.col90 img {
    width: 90%;
    height: 60%;
    margin: 4% 4% 0 4%;
}

.col90 h3 {
    display: inline-block;
    margin: 2% 0 4% 4%;
}

.col90 a {
    display: inline-block;
    margin: 2% 0 0 82%;
}


.col60 {
    width: 60%;
    display: inline-block;
}

.row1 {
    display: inline-block;

}

.row1 img {
    width: 20%;
    height: 20%;
    margin: 0 0 0 16%;
}

.row1 h4 {
    display: inline-block;
    margin: 2% 7% 4% 24%;
}

.row2 {
    display: inline-block;

}

.row2 img {
    width: 20%;
    height: 20%;
    margin: 0 0 0 16%;
}

.row2 h4 {
    display: inline-block;
    margin: 2% 7% 0% 24%;
}

.col40 {
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.col40 h2 {
    margin: 0 0 0 33%;
} 

.col40 ol li {
    width: 80%;
    margin: 4% 0 0 0;
    padding: 2% 0% 2% 0%;
    border: solid crimson;
    text-align: center;
}



.col55 {
    display: inline-block;
    width: 55%;
}

.col55 p {
    margin: 4% 0 0 4%;
}

.col45 {
    display: inline-block;
    width: 43%;
}

.col45 a {
    margin: 4% 0 0 85%;
}





